
.toggle-checkbox:checked {
    right: 0;
    border: #68D391;
    right: 0;
    border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #68D391;
    background-color: #68D391;
}
